<br>
<h2>Search Results</h2> <br>
{{#each books}}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-4">
      <img src="{{this.volumeInfo.imageLinks.smallThumbnail}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Title: {{this.volumeInfo.title}}</h5>
        <h6 class="card-text">Authors: {{this.volumeInfo.authors}}</h6> 
        <br>
   <form action="/books/my-books" method="POST">
    <input type="hidden" name="bookId" value="{{this.id}}">
    <input type="hidden" name="title" value="{{this.volumeInfo.title}}">
    <input type="hidden" name="authors" value="{{this.volumeInfo.authors}}">
    <input type="hidden" name="image" value="{{this.volumeInfo.imageLinks.smallThumbnail}}">
    <button type='submit' class="btn btn-outline-dark btn-sm">Add to my books</button>
</form>
<br>
      </div>
    </div>
  </div>
</div>

{{/each}}


